In [1]:
from helpers import *

In [2]:
# 任意のデータの読み込み (データ上の全銘柄のprice dataを取得)
df = pd.read_csv('../../DATAHUB/aba922ff-cef0-4bc7-8899-00fc08a14023.csv')
df['DATE'] = pd.to_datetime(df['DATE'])

df

            DATE  TICKER  TOTAL_SALES
0     2013-01-01    2138       985151
1     2013-02-01    2138      1177610
2     2013-03-01    2138      1852193
3     2013-04-01    2138      1595681
4     2013-05-01    2138      1997601
...          ...     ...          ...
38970 2025-02-01  u_YDBS   1233451190
38971 2025-03-01  u_YDBS   1447258480
38972 2025-04-01  u_YDBS   1258859842
38973 2025-05-01  u_YDBS   1199917267
38974 2025-06-01  u_YDBS    367326036

[38975 rows x 3 columns]

In [3]:
# データ読み込みとフィルタリング
df_filtered = filter_data_cca(df)

df_filtered

original data: 38975
filtered data: 35249

            DATE TICKER  TOTAL_SALES
0     2013-01-01   2138       985151
1     2013-02-01   2138      1177610
2     2013-03-01   2138      1852193
3     2013-04-01   2138      1595681
4     2013-05-01   2138      1997601
...          ...    ...          ...
35264 2025-02-01   9997     59219415
35265 2025-03-01   9997     78720890
35266 2025-04-01   9997     67881188
35267 2025-05-01   9997     67086649
35268 2025-06-01   9997     15922844

[35249 rows x 3 columns]

In [ ]:
price_data, success_rate = get_stock_price_data_from_yfinance(df_filtered)

Successfully fetched data for 2138
Successfully fetched data for 2157
Successfully fetched data for 2193
Successfully fetched data for 2211
Successfully fetched data for 2267
Successfully fetched data for 2331
Successfully fetched data for 2371
Successfully fetched data for 2432
Successfully fetched data for 2484

$2651.T: possibly delisted; no timezone found

No data available for 2651
Successfully fetched data for 2659
Successfully fetched data for 2670
Successfully fetched data for 2678
Successfully fetched data for 2681
Successfully fetched data for 2685
Successfully fetched data for 2695
Successfully fetched data for 2726
Successfully fetched data for 2730
Successfully fetched data for 2742
Successfully fetched data for 2752
Successfully fetched data for 2764
Successfully fetched data for 2780
Successfully fetched data for 2782
Successfully fetched data for 2790
Successfully fetched data for 2792
Successfully fetched data for 2798
Successfully fetched data for 2910

HTTP Error 404:
$2928.T: possibly delisted; no timezone found

No data available for 2928
Successfully fetched data for 2929
Successfully fetched data for 2930
Successfully fetched data for 2931
Successfully fetched data for 3028
Successfully fetched data for 3038
Successfully fetched data for 3046
Successfully fetched data for 3048
Successfully fetched data for 3050
Successfully fetched data for 3053
Successfully fetched data for 3064
Successfully fetched data for 3087
Successfully fetched data for 3088
Successfully fetched data for 3091
Successfully fetched data for 3092
Successfully fetched data for 3093
Successfully fetched data for 3097

$3098.T: possibly delisted; no timezone found

No data available for 3098
Successfully fetched data for 3099
Successfully fetched data for 3148
Successfully fetched data for 3179
Successfully fetched data for 3180
Successfully fetched data for 3182
Successfully fetched data for 3191
Successfully fetched data for 3197
Successfully fetched data for 3222
Successfully fetched data for 3333
Successfully fetched data for 3341
Successfully fetched data for 3349
Successfully fetched data for 3359
Successfully fetched data for 3382
Successfully fetched data for 3387
Successfully fetched data for 3391
Successfully fetched data for 3395
Successfully fetched data for 3397
Successfully fetched data for 3539
Successfully fetched data for 3542
Successfully fetched data for 3543
Successfully fetched data for 3549
Successfully fetched data for 3558
Successfully fetched data for 3561
Successfully fetched data for 3563
Successfully fetched data for 3608
Successfully fetched data for 3632
Successfully fetched data for 3635
Successfully fetched data for 3659
Successfully fetched data for 3660
Successfully fetched data for 3665
Successfully fetched data for 3765
Successfully fetched data for 3926

$3938.T: possibly delisted; no timezone found

No data available for 3938
Successfully fetched data for 3962
Successfully fetched data for 3994
Successfully fetched data for 4176
Successfully fetched data for 4194
Successfully fetched data for 4337
Successfully fetched data for 4344

$4348.T: possibly delisted; no timezone found

No data available for 4348
Successfully fetched data for 4384
Successfully fetched data for 4385
Successfully fetched data for 4448
Successfully fetched data for 4477
Successfully fetched data for 4478
Successfully fetched data for 4479
Successfully fetched data for 4661
Successfully fetched data for 4680
Successfully fetched data for 4686
Successfully fetched data for 4689
Successfully fetched data for 4704
Successfully fetched data for 4751
Successfully fetched data for 4755
Successfully fetched data for 4839
Successfully fetched data for 4911

$4921.T: possibly delisted; no timezone found

No data available for 4921
Successfully fetched data for 4922
Successfully fetched data for 4927
Successfully fetched data for 4934
Successfully fetched data for 5032
Successfully fetched data for 5138
Successfully fetched data for 5261
Successfully fetched data for 6027
Successfully fetched data for 6030
Successfully fetched data for 6036
Successfully fetched data for 6071
Successfully fetched data for 6082
Successfully fetched data for 6096
Successfully fetched data for 6098
Successfully fetched data for 6191
Successfully fetched data for 6630
Successfully fetched data for 6724
Successfully fetched data for 6952
Successfully fetched data for 7082
Successfully fetched data for 7110
Successfully fetched data for 7157

$7323.T: possibly delisted; no timezone found

No data available for 7323
Successfully fetched data for 7353
Successfully fetched data for 7419
Successfully fetched data for 7421
Successfully fetched data for 7453
Successfully fetched data for 7513
Successfully fetched data for 7516
Successfully fetched data for 7532
Successfully fetched data for 7545
Successfully fetched data for 7550
Successfully fetched data for 7564
Successfully fetched data for 7581
Successfully fetched data for 7606
Successfully fetched data for 7616

$7618.T: possibly delisted; no timezone found

No data available for 7618
Successfully fetched data for 7630
Successfully fetched data for 7649
Successfully fetched data for 7780
Successfully fetched data for 7806
Successfully fetched data for 7809

$7816.T: possibly delisted; no timezone found

No data available for 7816
Successfully fetched data for 7840
Successfully fetched data for 7844
Successfully fetched data for 7860
Successfully fetched data for 7911
Successfully fetched data for 7936
Successfully fetched data for 7937
Successfully fetched data for 7951
Successfully fetched data for 7974
Successfully fetched data for 8008
Successfully fetched data for 8016
Successfully fetched data for 8022

$8028.T: possibly delisted; no timezone found

No data available for 8028
Successfully fetched data for 8111

In [ ]:
# price_data.to_csv('../data/price_data_for_POS.csv', index=False)

In [ ]:
success_rate

0.9017543859649123